.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.custom-loader {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .ring {
        position: absolute;
        width: 200px;
        height: 200px;
        border-radius: 50%;
        animation: ring 2s linear infinite;
    }
    @keyframes ring {
        0% {
            transform: rotate(0deg);
            box-shadow: 1px 5px 2px #e65c00;
        }
        50% {
            transform: rotate(180deg);
            box-shadow: 1px 5px 2px #18b201;
        }
        100% {
            transform: rotate(360deg);
            box-shadow: 1px 5px 2px #0456c8;
        }
    }
    .ring:before {
        position: absolute;
        content: "";
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        border-radius: 50%;
        box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
    }
    span {
        color: var(--text_primary_color);
        font-size: 20px;
        text-transform: uppercase;
        letter-spacing: 1px;
        line-height: 200px;
        animation: text 3s ease-in-out infinite;
    }
    @keyframes text {
        50% {
            color: black;
        }
    }
}

@tailwind base;
@tailwind components;
@tailwind utilities;