@import'bootstrap/dist/css/bootstrap.min.css';
@import'bootstrap-icons/font/bootstrap-icons.min.css';
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

::selection {
    background: #ff0000;
    color: rgba(255, 255, 255, 0.9);
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #00173A;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9);
}

.navbar .nav-link {
    color: #212529 !important;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
    color: #0d6efd !important;
}

.collapse {
    visibility: inherit;
}