@import'bootstrap/dist/css/bootstrap.min.css';
@import'bootstrap-icons/font/bootstrap-icons.min.css';
@import'slick-carousel/slick/slick.css';
@import'slick-carousel/slick/slick-theme.css';
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

::selection {
    background: #ff0000;
    color: rgba(255, 255, 255, 0.9);
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    background: #00173A;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.9);
}

.navbar .nav-link {
    color: #212529 !important;
}

.navbar .nav-link:hover,
.navbar .nav-link.active {
    color: #0d6efd !important;
}

.collapse {
    visibility: inherit;
}

.info-vertical-card {
    display: flex;
    overflow: hidden;
    flex-direction: column;
    height: 100%;
    .info-pro-card {
        display: flex;
        flex-direction: column;
        flex: 1 1 auto;
        position: relative;
        .info-card-top {
            display: flex;
            flex-direction: column;
            flex: 1 0 auto;
            div {
                img {
                    display: block;
                    object-fit: cover;
                    inline-size: 100%;
                    aspect-ratio: 1/1.33;
                    border-radius: 0.8rem;
                    display: block;
                    object-fit: cover;
                    background-color: rgba(233, 233, 233, 0.9);
                }
            }
            p {
                // display: block;
                // display: -webkit-box !important;
                // -webkit-line-clamp: 2;
                // overflow: hidden;
                // text-overflow: ellipsis;
                // -webkit-box-orient: block-axis;
                // white-space: normal;
                // min-inline-size: 60rem;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                line-height: 1.5;
            }
        }
        .info-card-bottom {
            display: flex;
            flex-direction: column;
            flex: 0 0 auto;
            gap: 1.2rem;
        }
    }
}

.slick-dots li button:before {
    color: white;
    font-size: 12px;
}

.hero-slider {
    .slick-dots {
        bottom: 5rem;
    }
    & .slick-prev {
        left: 5rem;
    }
    .slick-next {
        right: 0;
    }
}

.info-suggestion-wrapper {
    padding-block: 2.4rem;
    padding-inline: 0;
    background-color: oklch(0.98 0 0);
    box-shadow: 0 2px 4px oklch(0.98 0 0);
    .info-head {
        display: flex;
        align-items: center;
        justify-content: center;
        h2 {
            color: #212529;
        }
    }
}